/* Reseta estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Garante que o html e body ocupem toda a altura */
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2a518f; /* Cor primária para o texto */
}

.main {
  width: auto; /* Ocupa toda a largura da viewport */
  height: 100vh; /* Ocupa toda a altura da viewport */
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Impede rolagem adicional */
}

/* Estilos para o container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Estilos para o menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo img {
  width: 120px;
}

/* Links do menu */
.menu-items ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-left: auto;
  padding: 20px;
}

.menu-items a {
  background: linear-gradient(90deg, #0d4177, #098150); /* Gradiente */
  -webkit-background-clip: text; /* Clipa o fundo ao texto */
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.menu-items a:hover {
  color: #41aa45; /* Cor de destaque ao passar o mouse */
}

/* Ação do menu */
.menu-action {
  display: flex;
  align-items: center;
  background-color: #41aa45;
  color: #fff;
  padding: 12px 24px;
  border-radius: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra ao redor do fundo */
}

.menu-action p {
  font-size: 15px;
  font-weight: 550;
  margin: 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon-wrapper p {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 20px;
  background: linear-gradient(90deg, #0d4177, #098150); /* Gradiente */
  -webkit-background-clip: text; /* Clipa o fundo ao texto */
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.icon {
  width: 24px;
  height: 24px;
  color: #b1b1b1;
  width: 60px;
  height: 60px;
}

.grade {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.materias {
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 550;
  padding: 15px 15px;
  background-color: #41aa45; /* Define o fundo apenas até o texto */
  margin-left: 0;
  border-radius: 4px;
  color: #ffff;
}

.materias ul {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  list-style-type: disc; /* Adiciona bolinhas aos itens da lista */
}

.materias ul li {
  margin-left: 20px; /* Indenta os itens para dar espaço para a bolinha */
  border-bottom: 2px solid #2a518f; /* Linha sólida abaixo de cada item */
  padding-bottom: 4px;
  margin-bottom: 8px;
}
